.nav-link {

}
.navbar-toggler {
    background-color: #f8f9fa; /* Light background color for the button */
    border: 1px solid #ccc;    /* Border color */
}
.text-decoration-none:hover{
    color: #44bd32;
}
.img-head-logo
{
    width: 200px;
}
.main-banner-of-site{
    background: url('../images/main-bannar.png');
    background-repeat: no-repeat;
    background-size: cover !important;
    /* background-position: center; */
    height: 850px;
}

.contend-part
{
    padding-top: 44px;
    margin: 27px;
}
.contend-part p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.quote-butn-hvor:hover{
    background-color: #1B1464;
}
.icon-button
{
    background-color: green;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin-top: 30px;
}
#Three-animation-bars
{
    padding-top: 200px;
    margin-top: 190PX;
}
.paragraph-text
{
    padding-left: 65px;
    font-size: 20px;
}
.hvr-crd-links:hover{
    color: #44bd32;
}
.text-heading
{
    text-align: center;
    font-size: 30px;
    padding: 20px 0px 0px 20px;
}
.tex
{
    padding-top: 60px;
}
.content-wrap
{
    /* position: relative; */
    bottom:60px;
    left: 70px;
}
.main-banner-about-poprtion
{
    padding-bottom: 40px;
}
#Style-subscribe-part
{
    background-color: #34495e;
    padding: 50px 20px 50px 20px;
    margin-right: 4px;
    margin-left: 4px;
}
.main-banner-of-footer
{
    background-color: black;
}
.footer-list-styl
{
    list-style: square;
    color: red;
}
.main-toggle-part
{
    padding: 30px 10px 30px 10px;
}
.spn-pad
{
    padding-left: 40px;
}
.book-icon
{
    color: #44bd32;
}
.back-pic-about-portion
{
    position: absolute;
}
.main-banner-about-poprtion
{
    position: relative;
    z-index: 5;
    padding-left: 60px;
    padding-top: 100px;
}

.crd-move-part
{
    position: absolute;
    bottom: 10px;
}
/* #bkg-img1
{
    background-image: url('https://tritechteal.com/public/uploads/service-10.png');
    width: 354px;
    background-repeat: no-repeat;
} */